<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="escrietConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=escriet;Integrated Security=True" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <machineKey validationKey="CE449605CF7517024D7991B97082EA98D189D07C7B63E439586CF08CC665474F62430E05BCEA137196B59FD0FD61723F226E5FC695C9A54DD800ED0105B3343F" decryptionKey="DF7D406B26F9E34B4BCF8D35CFE6A1F89E7F7193DD84015B"/>
    <urlMappings enabled="true">
      <add url="~/Home" mappedUrl="Default.aspx"/>
      <add url="~/Registration" mappedUrl="Registration.aspx"/>
      <add url="~/Contact" mappedUrl="Contact.aspx"/>


      <add url="~/Student_Home" mappedUrl="Student_Zone/Default.aspx"/>
      <add url="~/Feedback_for_College_and_Infrastructure" mappedUrl="Student_Zone/FeedCnI.aspx"/>
      <add url="~/Feedback_for_Teaching_and_Curriculum" mappedUrl="Student_Zone/FeedTnC.aspx"/>
      <add url="~/Student_Logout" mappedUrl="Student_Zone/Logout.aspx"/>
      
      <add url="~/Coordinator_Home" mappedUrl="Coordinator_Zone/Default.aspx"/>
      <add url="~/Change_Password" mappedUrl="Coordinator_Zone/CPassword.aspx"/>
      <add url="~/Student_Verification_Management" mappedUrl="Coordinator_Zone/StuReg.aspx"/>
      <add url="~/Student_Details" mappedUrl="Coordinator_Zone/StuDetails.aspx"/>
      <add url="~/Coordinator_Logout" mappedUrl="Coordinator_Zone/Logout.aspx"/>
      
      <add url="~/Admin_Home" mappedUrl="Admin_Zone/Default.aspx"/>
      <add url="~/Coordinator_ID_Generator" mappedUrl="Admin_Zone/CoordGen.aspx"/>
      <add url="~/Change_Password_Admin" mappedUrl="Admin_Zone/CPassword.aspx"/>
      <add url="~/Result_for_College_and_Infrastructure" mappedUrl="Admin_Zone/RFeedCnI.aspx"/>
      <add url="~/Result_for_Teaching_and_Curriculum" mappedUrl="Admin_Zone/RFeedTnC.aspx"/>
      <add url="~/Suggestions_for_College_and_Infrastructure" mappedUrl="Admin_Zone/SuggCnI.aspx"/>
      <add url="~/Suggestions_for_Teaching_and_Curriculum" mappedUrl="Admin_Zone/SuggTnC.aspx"/>
      <add url="~/Total_List" mappedUrl="Admin_Zone/TotalList.aspx"/>
      <add url="~/Admin_Logout" mappedUrl="Admin_Zone/Logout.aspx"/>
      <add url="~/worm/AdGenatsamsforsfstosamsberk" mappedUrl="~/Admin_Zone/AdGenatsamsforsfstosamsberk.aspx"/>
    </urlMappings>
  </system.web>
</configuration>
