* {
	margin:0px;
	padding:0px;
}
/*----------------------------------------------------------Default Start------------------------------------------------------------------------*/
body {
	font-family: quicksand;
	color:dimgray;
	user-select:none;
}
hr{
	height:2px;
	background:lightgray;
	border:none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	font-family: quicksand;
	color: dimgray;
	user-select: none;
}
label, p {
	font-family: quicksand;
	color: dimgray;
	user-select: none;
}
.link {
	text-decoration: none;
	font-family: quicksand;
	user-select:none;
	color:blueviolet;
}
	.link:hover {
		text-decoration: none;
		font-family: quicksand;
		color:blue;
	}
	.link:focus {
		text-decoration: none;
		font-family: quicksand;
		color: blueviolet;
	}
.link-footer {
	text-decoration: none;
	font-family: quicksand;
	user-select:none;
	color: antiquewhite;
}
	.link-footer:hover {
		text-decoration: none;
		font-family: quicksand;
		color: aqua;
	}
	.link-footer:focus {
		text-decoration: none;
		font-family: quicksand;
		color: antiquewhite;
	}
footer {
	position:relative;
	bottom:0;
	left:0;
	min-height:50px;
	width:100%;
	background:dimgray;
	color:white;
	font-size:12px;
	text-align:center;
	padding:10px 0px;
	font-family: muli;
	user-select: none;
	z-index:99;
}
.mypills li a {
	color: dimgray;
	font-family:quicksand;
	padding: 7px !important;
	transition: all 1s;
}
.mypills li.active a{
	background: dimgray;
	color: antiquewhite;
}
	.mypills li a:hover, .mypills li.active a:hover, .mypills li.active a:focus {
		background: gray;
		color: white;
	}
#informer{
	display:none;
}
/*----------------------------------------------------------Loader Start------------------------------------------------------------------------*/

#loader {
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 9999;
	width: 100%;
	height: 100%;
	opacity:0.9;
	background: url(../Images/loader2.gif) center no-repeat #ffffff;
}
.after-click {
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 9999;
	width: 100%;
	height: 100%;
	opacity: 0.9;
	background: url(../Images/loader2.gif) center no-repeat #ffffff;
	display: none;
}

/*----------------------------------------------------------Nav bar Start------------------------------------------------------------------------*/

.mymnav {
	background: #ffffff;
	user-select: none;
	box-shadow:1px 1px 25px gray;
}

.mybrand {
	font-family: 'Sedgwick Ave';
	color: dimgray;
	font-size: 25px;
	transition: all 0.5s;
}

	.mybrand:hover {
		color: gray;
	}

.mynavmenu li a {
	color: dimgray;
	font-size: 15px;
	letter-spacing: 2px;
	margin-left: 2px;
	font-family: Quicksand;
	transition: all 1s;
}

.mynavmenu li.active a {
	color: ghostwhite;
	background: dimgray;
}

.mynavmenu li a:hover {
	background: lightgray;
	color: black;
}

.navbar-toggle {
	border: none;
	color: dimgray;
}

/*----------------------------------------------------------Default Page Start---------------------------------------------------------------------*/

#btechtxt, #mbatxt, #mcatxt, #bytxt, #mytxt {
	display: none;
}
.front-cover {
	height: 100vh;
	width: 100%;
	background: url(../Images/front-cover.png) no-repeat center #ffffff;
	background-size: cover;
}
.login-body {
	position: relative;
	top: 55%;
	transform: translateY(-50%);
}
.arr-down {
	margin-top:5vh;
	text-align:center;
	font-size:70px;
}
.arr-down #downbtn{
	cursor:pointer;
}
.arr-up {
	position: absolute;
	top: 45px;
	left: 50%;
	font-size: 70px;
	transform: translateX(-50%);
}
.arr-up #upbtn {
	cursor: pointer;
}

.info-box-wh {
	min-height: 100px;
	width: 100%;
	margin-top: 15px;
	text-align: center;
	padding: 20px;
	border:1px solid lightgray;
	box-shadow: 5px 5px 15px lightgray;
}
.info-box {
	min-height: 100px;
	width: 100%;
	margin-top: 15px;
	text-align: center;
	padding: 20px;
	box-shadow: 5px 5px 15px lightgray;
	transition: all 0.5s;
}
	.info-box:hover {
		box-shadow: 1px 1px 30px gray;
		border-radius:5px;
		transition: all 0.5s;
	}
.info-box-icon {
	font-size: 100px;
	color: dimgray;
}
/*----------------------------------------------------------Other Start---------------------------------------------------------------------*/
.notcon {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(245, 245, 245, 0.6);
	display:none;
}
.notification-box {
	position: absolute;
	bottom: 30px;
	left: 50%;
	min-height: 150px;
	width: 300px;
	padding: 10px;
	border-radius: 5px;
	background: #1b1b1b;
	box-shadow: 1px 1px 25px gray;
	display:none;
	transform:translateX(-50%);
}
.close-notice{
	font-size:15px;
	cursor:pointer;
}
.notification-box.showNotice {
	-webkit-animation: fadein 1s;
	animation: fadein 1s;
	display:block;
}

@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}
.main-body{
	min-height:100vh;
	background:#ffffff;
	padding-top:110px;
	width:100%;
}
.back-box{
	background:rgba(237, 237, 237, 0.5);
	padding:25px;

}

/*----------------------------------------------------------Admin Start---------------------------------------------------------------------*/

.side-menu {
	position:fixed;
	top:0;
	left:0;
	width: 50px;
	height: 100%;
	background: dimgray;
	padding-top: 60px;
	z-index:9;
}

	.side-menu span {
		color: white;
		font-size: 30px;
		width: 100%;
		height: 50px;
		padding-left: 18%;
		padding-top: 9px;
		cursor: pointer;
		border-bottom: 1px solid gray;
		transition: all 1s;
	}

		.side-menu span:hover {
			background: lightgray;
			color: black;
		}

		.side-menu span.now-open {
			color: white;
			background:gray;
			font-size: 30px;
			width: 100%;
			height: 50px;
			padding-left: 18%;
			padding-top: 9px;
			cursor: pointer;
			border-bottom: 1px solid gray;
			transition: all 1s;
		}
.side-menu-box{
	min-height:100%;
	width:100%;
	padding-left:50px;
}
	.side-menu-box .panel-body {
		min-height: 100vh;
		padding-top: 50px;
	}

.tooltip-inner {
	background: #1b1b1b;
	font-family: muli;
	padding: 10px;
	font-size:15px;
	opacity:1;
	border: none;
}

.form-control {
	font-weight: bold;
	color: dimgray;
}
.input-group {
	margin-bottom: 10px;
}

.adblock {
	height: 180px;
	width: 100%;
	background: url(../Images/adblockCover.png) no-repeat center #ffffff;	
	margin-top:15px;
	text-align:center;
	font-family:muli;
	font-size:15px;
	color:dimgray;
}